html, body {
	height: 100%;
}
body {
	background-color: #1b1c1d;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -230px;
	background-color: #fff;
}
.page-wrap:after {
	content: "";
	display: block;
}
.ui.footer.segment, .page-wrap:after {
	height: 160px;
}
.hide {display: none;}

.main {
	padding-bottom: 40px;
}
.CodeMirror {
	height: auto;
}

#header {
	margin-bottom: 0;
	border-radius: 0;
}

#footer{
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

#toc > div {
	position: fixed;
}

.masthead h1.ui.header {
	margin-top: 3em;
}

.masthead h1.ui.header {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 6em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.masthead .primary.button{
	margin-top: 30px;
	margin-bottom: 40px;
}

.margin-top-30 {
	margin-top: 30px;
}

.ui.vertical.stripe h2 {
	font-size: 2em;
}

.ui.vertical.stripe h3 {
	font-size: 1.5em;
}

.ui.vertical.stripe h4 {
	font-size: 1.5em;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.code {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}

.ui.list li {
	font-size: 1.25em;
}
ul.ui.list, ol.ui.list {
	margin-left: 2.5rem;
}

.ui.large.text.container {
	max-width: 950px!important;
}

@media only screen and (max-width: 1750px) {
	.main.container {
		width: auto !important;
		max-width: 1300px !important;
		margin-right: 387px !important;
		margin-left: 3em !important;
	}
}

@media only screen and (max-width: 1272px) {
	#toc.right.rail {
		padding-left: 1.5em;
		width: 260px;
	}
	.main.container {
		margin-right: 318px !important;
	}
}

@media only screen and (max-width: 1272px) {
	.main.container {
		margin-left: 2em !important;
	}
}
@media only screen and (max-width: 992px) {
	#toc.right.rail {display: none;}
	.main.container {
		margin-left: 1em !important;
		margin-right: 1em !important;
		max-width: none !important;
	}
}

@media only screen and (max-width: 500px) {
	.masthead h1.ui.header {
		font-size: 4em;
	}
}

.main.container .right.rail {
		margin-left: 3em;
		padding-top: 0.75em;
		width: 319px;
}

.logo.large {
	height: 128px;
	width: 128px;
	margin-bottom: 20px;
}

.logo.small {
	height: 32px;
	width: 32px;
}

#buttons .button {
	margin-bottom: 0.75em;
}

#mocha-stats {
	position: relative;
	top: 0;
	right: 0;
}
