html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -230px;
}
.page-wrap:after {
	content: "";
	display: block;
}
.ui.footer.segment, .page-wrap:after {
	height: 160px;
}
.hide {display: none;}
.main {
	/*margin-top: 60px;*/
	padding-top: 60px;
	padding-bottom: 40px;
}
.CodeMirror {
	height: auto;
}

#header {
	height: 60px;
}

#footer{
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

.masthead h1.ui.header {
	margin-top: 3em;
}

.masthead.segment {
	height: 500px;
	padding: 1em 0em;
}

.masthead h1.ui.header {
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 6em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.masthead .primary.button{
	margin-top: 10px;
}

.margin-top-30 {
	margin-top: 30px;
}

.ui.vertical.stripe {
	padding: 5em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe h4 {
	font-size: 1.5em;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.code {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}

.ui.list li {
	font-size: 1.25em;
}
ul.ui.list, ol.ui.list {
	margin-left: 2.5rem;
}

@media only screen and (max-width: 1750px) {
	.main.container {
		width: auto !important;
		max-width: 1300px !important;
		margin-right: 387px !important;
		margin-left: 3em !important;
	}
}

@media only screen and (max-width: 1272px) {
	#toc.right.rail {
		padding-left: 1.5em;
		width: 260px;
	}
	.main.container {
    margin-right: 318px !important;
	}
}

@media only screen and (max-width: 1272px) {
	.main.container {
		margin-left: 2em !important;
	}
}
@media only screen and (max-width: 992px) {
	#toc.right.rail {display: none;}
	.main.container {
    margin-left: 1em !important;
    margin-right: 1em !important;
    max-width: none !important;
	}
}

.main.container .right.rail {
    margin-left: 3em;
    padding-top: 0.75em;
    width: 319px;
}
